*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* desktop view and large screen */

@media screen and (min-width: 1200px){
    #container{
        /* background-color: red !important; */
        display: flex;
        flex-direction: row !important;
    }
}

/* mobile view screen */

@media screen and (max-width: 576px){
    .navbar{
        margin-left: -10px !important;
        width: 20% !important;
    }
    
    .nav-link{
        display: flex !important;
        justify-items: center !important;
        justify-content: center !important;
    }

    .body-container{
        margin-top: 140px !important;
    }

     .my-input::placeholder{
        font-size: 20px;
    }

    .text-area{
        font-size: 28px !important;
    }

}
